name: CI

on: [pull_request]

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    environment:
      name: ci
    env:
      POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
      POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
      POSTGRES_PORT: 5432
    services:
      db:
        image: postgres:17.6
        env:
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    strategy:
      matrix:
        distribution: ["temurin"]
        java-version: ["21", "24"]
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "24"
          cache: "npm"

      - name: Install Npm packages
        run: npm install

      - name: Java version
        env:
          JAVA_VERSION: ${{ matrix.java-version }}
        run: echo $JAVA_VERSION

      - name: Set up JDK ${{ matrix.distribution }} ${{ matrix.java-version }}
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.java-version }}
          cache: "gradle"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: create table on database
        run: ./gradlew flywayMigrate

      - name: execute jOOQ code generator
        run: ./gradlew jooqCodegen

      - name: execute OpenAPI code generator
        run: ./gradlew openApiGenerate

      - name: Check
        run: ./gradlew check
